.title {
    text-align: center;
}

img {
    display:block;
    margin: auto;
}

ul.center {
    font-size: 32px;
    display: table;
    margin: auto;
}

html {
    background-color: aquamarine;
}

img.recipe {
    height: auto;
    width: 700px;
}