.title {
    text-align: center;
}

img {
    display:block;
    margin: auto;
}

ul.center {
    font-size: 32px;
    display: table;
    margin: auto;
}

html {
    background-color: rgba(42, 185, 138, 0.479);
}

img.recipe {
    height: auto;
    width: 700px;
}